// @import 'https://fonts.googleapis.com/css?family=Miniver';
@import 'https://fonts.googleapis.com/css?family=Sunshiney';

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  // font-family: 'Miniver', cursive;
  font-family: 'Sunshiney', cursive;
  font-size: 20px;
}
.navbar, .nav, .navbar-nav, .navbar-right {
  font-size: 20px;
}
.container-fluid {
  margin-bottom: 10px;
  margin-top: 10px;
}

.image_logo {
  width: 20px;
  height: 20px;
}

.jumbotron {
  // background: url('app/assets/images/books_pc.jpg')
  background: image-url('books_pc.jpg');
  // background-size:80% 80%;

  background-size: auto;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: top;
}

.container_under_jumbotrone {
}
